@import url("../css/base/Button.css");
@import url("../css/base/Paging.css");
@import url("../css/base/Icon.css");
@import url("../css/base/Input.css");
@import url("../css/base/Table.css");
@import url("../css/base/Combox.css");
@import url("../css/base/Dialog.css");
@import url("../css/base/Dropdown.css");
@import url("../css/base/Text-box.css");
@import url("../css/base/Filter-bar.css");
@import url("../css/base/Account.css");
body {
    font-family: MISAGoogleSans;
    font-size: 13px;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: MISAGoogleSans;
    src: url("../content/font/GoogleSans-Regular.otf");
}

@font-face {
    font-family: MISAGoogleSans-Bold;
    src: url("../content/font/GoogleSans-Bold.otf");
}

@font-face {
    font-family: MISAGoogleSans-Italic;
    src: url("../content/font/GoogleSans-Italic.otf");
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.left-16 {
    margin-left: 16px;
}

.right-16 {
    margin-right: 16px;
}

.left-32 {
    margin-left: 32px;
}

.font-16 {
    font-size: 16px;
}