.dialog .dialog-content {
    width: 726px;
    height: 700px;
    border: 1px solid #ccc;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    z-index: 1001;
}

.dialog .modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: .5;
    z-index: 1000;
}

.dialog .dialog-content .dialog-content-header {
    height: 49px;
    border: 1px solid white;
    border-radius: 4px 4px 0 0px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: 20px;
    font-family: MISAGoogleSans;
}

.dialog .dialog-content .dialog-content-left {
    width: 206px;
    height: 594px;
    border-radius: 0 0 0 0px;
    position: fixed;
}

.dialog .dialog-content .dialog-content-between {
    left: 206px;
    position: absolute;
    width: calc(100% - 206px);
    height: 593px;
    margin-left: 0;
    top: 51px;
    overflow-y: auto;
}

.dialog .dialog-content .dialog-content-between .dialog-content-top {
    width: 100%;
    height: 71%;
    display: flex;
    position: absolute;
    right: 0;
    flex-direction: column;
}

.dialog .dialog-content .dialog-content-between .dialog-content-bottom {
    width: 100%;
    height: 46%;
    position: absolute;
    top: 447px;
    flex-direction: column
}

.content-title {
    width: 100%;
    height: 30px;
    background-color: white;
    padding-bottom: 8px;
}

.content-title .title-text {
    height: 25px;
    width: 420px;
}

.content-title .title-decor {
    width: 74px;
    height: 5px;
    background-color: #019160;
}

.content-between-element {
    display: flex;
    width: 100%;
    height: 61px;
    margin-top: 16px;
}

.between-element-title {
    width: 100%;
    margin-bottom: 4px;
}

.content-between-element .element {
    width: 234px;
    height: 100%;
    margin-right: 10px;
}

.dialog .dialog-content .dialog-content-footer {
    position: fixed;
    width: 100%;
    height: 56px;
    background-color: #e9ebee;
    bottom: 0;
    border-radius: 0 0 4px 4px;
    align-items: center;
    display: flex;
}

.dialog .dialog-content .dialog-content-left .input-image-title {
    text-align: center;
    padding-left: 24px;
    padding-right: 25px;
}

.m-asterisk {
    color: red;
}

.dialog-show {
    display: none;
}