table.table {
    border-collapse: collapse;
    position: relative
}

table.table thead th {
    height: 50px;
    padding: 0 10px;
    white-space: nowrap;
    border-bottom: 1px #E9EBEE;
}

table th,
td {
    text-align: left;
}

tbody tr,
td {
    border-bottom: 1px solid #E9EBEE;
    border-top: 1px solid #E9EBEE;
    text-align: left;
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

thead tr th {
    padding: 0 10px;
    white-space: nowrap;
}

tbody tr td {
    padding: 0 10px;
    white-space: nowrap;
}

tbody tr td:first-child {
    padding-left: 10px;
    padding-right: 10px;
}

tbody tr:hover {
    background-color: #E9EBEE;
}

tbody tr.selected {
    background-color: #EBF9F4;
}


/* EmployeeList */

.grid-employee {
    width: calc( 100% - 32px);
    overflow-y: auto;
    overflow-x: auto;
    height: calc(100vh - 206px);
    margin-left: 16px;
}

.scroll-table thead th {
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid #E9EBEE;
}

.grid-employee::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: lightgray;
    border-radius: 3px;
}

.grid-employee::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 3px;
}