.menu{
    width: 225px;;
    height:calc(100vh - 49px);
    background-color:white;
    border-right-color:#e5e5e5;
    border-right-width:1px;
    border-right-style:solid;
}
 .menu .menu-item{
    display: flex;
    align-items: center;
    height: 44px;
    width: 100%;
    background-color:white ;
    color: black;
    padding-left: 16px;
    box-sizing: border-box;
    cursor: pointer;
} 
.menu .menu-item.menu-item-select{
background-color: #019160;
color: black;

}
.menu .menu-item:hover{
    background-color: #019160;
    color: white;
}
.menu .menu-icon.menu-icon-active{
    background-color: #019160;
    color: white;
}
.menu a{
    text-decoration: none;
}