.menu{
    width: 225px;;
    height:calc(100vh - 49px);
    background-color:#e5e5e5;
    border-right-color:#e5e5e5;
    border-right-width:1px;
    border-right-style:solid;
}
.menu.menu-item{
    display: flex;
    align-items: center;
    height: 44px;
    width: 100%;
    background-color:white ;
    color: white;
    padding-left: 16px;
    box-sizing: border-box;
    cursor: pointer;
}
.menu.menu-item.menu-item-select{
background-color: #019160;

}
.menu.menu-item:hover{
    background-color: #e5e5e5;
    color: black;
}
.menu.menu-item.menu-icon{
    width: 20px;
    height: 20px;
    background-color: white;
    margin-right: 10px;
    background-image: url("../../content/icon/dashboard.png");
    background: contain;
}