.account{
    position: absolute;
    display: flex;
    height: 40px;
    color: black;
    text-align: center;
    font-size:13px ;
    font-family:MISAGoogleSans ;
    border: none;
    outline: none;
    align-items: center;
    right: 16px;
}

.account .account-img{
    height: 32px;
    width: 32px;
    top: 16px;
    background-image: url("../../content/icon/avatar-default.png");
    background-size: contain;
    margin-right: 16px;
}



