.filter-bar{
    position: relative;
    width: 100%;
   
    align-items: center;
    height: 40px;
    border: 1px ;
    display: inline-block;
}

.filter-bar .filter-right{
    position:  absolute;
    right: 16px;

}

.filter-bar .filter-left{
    position: absolute;
    height: 40px;
    display: flex;
    width: 80%;
}

