input{
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 16px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #BBBBBB;
    font-family: MISAGoogleSans;
}
input::placeholder{
    font-size: 11px;
}

.input-search{
    margin-left: 16px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 16px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #BBBBBB;
}
.input-search:active{
    border: 1px solid #019160;
    
}